.panel{
	position: relative;
	padding: 0.46rem 0;
}
.panel h3{
	width: 2.866667rem;
}
.panel input{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 2.866667rem;
	right: 0;
}

.panel .img_cell div{
	position: relative;
	width: 120px;
	height: 80px;
}
.panel .img_cell div:first-child{
	margin-bottom: 0.32rem;
}
[data-dpr="2"] .panel .img_cell div{
	width: 3.2rem;
	height: 2.133333rem;
}
[data-dpr="3"] .panel .img_cell div{
	width: 360px;
	height: 240px;
}
.panel .img_cell .dashed{
	border-width: 1px;
	border-style: dashed;
	border-color: #ccc;
}
[data-dpr="2"] .panel .img_cell .dashed{
	border-width: 2px;
}
[data-dpr="3"] .panel .img_cell .dashed{
	border-width: 3px;
}
.panel .img_cell .dashed input{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}