.applyitem{
	width: 100%;
	padding: 0.32rem;
	background: #fff;
	margin-bottom: 0.32rem;
}
.applyitem .msg_cell{
	width: 5.8rem;
	height: 1.706667rem;
	padding-left: 0.32rem;
}
.applyitem .msg_cell h3,
.applyitem .msg_cell p{
	width: 100%;
	display: block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
}
