.btn{
	width: 100%;
	color: #fff;
	display: block;
}
.btn_big{
	font-size: 17px;
	height: 50px;
}
[data-dpr="2"] .btn_big{
	font-size: 34px;
	height: 1.333333rem;
}
[data-dpr="3"] .btn_big{
	font-size: 51px;
	height: 150px;
}
.btn_small{
	font-size: 15px;
	height: 28px;
}
[data-dpr="2"] .btn_small{
	font-size: 30px;
	height: 0.746667rem;
}
[data-dpr="3"] .btn_small{
	font-size: 45px;
	height: 84px;
}
.btn_radius{
	border-radius: 6px
}
[data-dpr="2"] .btn_radius{
	border-radius: 12px
}
[data-dpr="3"] .btn_radius{
	border-radius: 18px
}

.btn_danger{
	background-color: #e34949;
}
.btn_danger:active{
    background-color: #ce4444;
    border-color: #c22525;
}