.tabbar{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 49px;
	background: #fff;
	z-index: 1000;
}
[data-dpr="2"] .tabbar{
	height: 98px;
}
[data-dpr="3"] .tabbar{
	height: 144px;
}
.tabbar:before{
	content:"";
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 0.026667rem;
	background: #ccc;
}
.tabbar_item{
	text-align: center;
}
.tabbar_item .tabbar_label{
	color: #8c8c8c;
	margin-top: -4px;
}
[data-dpr="2"] .tabbar_label{
	margin-top: -8px;
}
[data-dpr="3"] .tabbar_label{
	margin-top: -12px;
}
.tabbar_item .tabbar_icon{
	width: 22px;
	height: 22px;
	background: #fff;
	display: inline-block;
	background: url(../../../assets/img/icon.png);
	background-position-x:0;
}
[data-dpr="2"] .tabbar_icon{
	width: 44px;
	height: 44px;
	background: url(../../../assets/img/icon@2x.png);
}
[data-dpr="3"] .tabbar_icon{
	width: 66px;
	height: 66px;
	background: url(../../../assets/img/icon@3x.png);
}
.tabbar_item .icon_home{
	background-position-y:0;
}
.tabbar_item .icon_myorder{
	background-position-y:-22px;
}
[data-dpr="2"] .tabbar_item .icon_myorder{
	background-position-y: -44px;
}
[data-dpr="3"] .tabbar_item .icon_myorder{
	background-position-y: -66px;
}
.tabbar_item .icon_userorder{
	background-position-y: -44px;
}
[data-dpr="2"] .tabbar_item .icon_userorder{
	background-position-y: -88px;
}
[data-dpr="3"] .tabbar_item .icon_userorder{
	background-position-y: -132px;
}
.tabbar_item .icon_buyproduct{
	background-position-y:-66px;
}
[data-dpr="2"] .tabbar_item .icon_buyproduct{
	background-position-y: -132px;
}
[data-dpr="3"] .tabbar_item .icon_buyproduct{
	background-position-y: -198px;
}
.tabbar_item .tabbar_label{
	font-size: 12px;
	padding-top: 4px;
}
[data-dpr="2"] .tabbar_label{
	font-size: 22px;
	padding-top: 8px;
}
[data-dpr="3"] .tabbar_label{
	font-size: 33px;
	padding-top: 12px;
}
.tabbar_item.active .tabbar_icon{
	background-position-x:-22px;
}
[data-dpr="2"] .tabbar_item.active .tabbar_icon{
	background-position-x:-44px;
}
[data-dpr="3"] .tabbar_item.active .tabbar_icon{
	background-position-x:-66px;
}
.tabbar_item.active .tabbar_label{
	color: #e34949;
}